body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::selection {
  background: #D2BDFF; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: #D2BDFF; /* Gecko Browsers */
}
